/* Main App */
main {
  display: grid;
  grid-template-columns: minmax(400px, 600px) minmax(500px, 600px);
  grid-auto-flow: column;
  justify-content: center;
  gap: 50px;
}

label {
  margin-bottom: 5px;
}

input,
textarea {
  padding: 7px;
  outline: none;
  border: 2px solid black;
  border-radius: 6px;
}

section.input-form,
section.cv-output {
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* Input Section */
section.input-form {
  gap: 20px;
  max-height: calc(100vh - 100px - 100px);
  overflow-y: scroll;
  /* min-width: max-content;
  max-width: 500px; */
}

section.input-form::-webkit-scrollbar {
  display: none;
}

section.input-form .form {
  border: 2px solid black;
  border-top: none;
  padding: 25px;
}

section.input-form .form ul {
  list-style: none;
}

section.input-form .form ul li {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

section.input-form .form ul li.date-container {
  flex-direction: row;
  gap: 20px;
}

section.input-form .form ul li.date-container input {
  margin-top: 7px;
  display: block;
}

section.input-form .form h1 {
  margin-bottom: 10px;
}

section.input-form .form button {
  padding: 3px 10px;
  border-radius: 5px;
  background: none;
  margin-top: 20px;

  justify-content: flex-end;
}

/* Output Section */

section.cv-output .output {
  border: 2px solid black;
  text-align: center;

  padding: 20px;
  width: 100%;
  font-size: 14px;

  min-height: 700px;
  /* min-width: 500px;
  max-width: max-content; */

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.35fr 1fr 1fr;
  justify-content: center;
  align-items: start;
}

section.cv-output .output .output-main-title {
  font-size: 1.8rem;
  margin-bottom: 10px;
}

section.cv-output .output .cv-general {
  padding-top: 10px;
  margin-bottom: 10px;
}

section.cv-output .output .cv-general div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
}

section.cv-output .output .cv-entry {
  display: grid;
  margin-top: 20px;
  row-gap: 5px;
  grid-template-columns: 1fr 0.5fr;
}

section.cv-output .output .cv-entry .description {
  grid-column: 1 / -1;
  margin-top: 5px;
  font-style: italic;
}

section.cv-output .output .cv-entry .cv-job-description {
  grid-column: 1 / -1;
  margin-top: 5px;
  font-style: italic;
}

section.cv-output .output .cv-entry > div {
  display: flex;
  align-items: center;
  gap: 5px;
}

section.cv-output .output .cv-output-title {
  border-bottom: 2px solid black;
  margin-top: 20px;
  padding-bottom: 5px;
  text-align: left;
}

section.cv-output .output .cv-entry *:nth-child(1),
section.cv-output .output .cv-entry *:nth-child(3),
section.cv-output .output .cv-entry *:nth-child(5) {
  justify-self: start;
  text-align: start;
}

section.cv-output .output .cv-entry div:nth-child(2),
section.cv-output .output .cv-entry div:nth-child(4) {
  justify-self: end;
}

section.cv-output .output .cv-entry .city::after {
  content: ",";
}

section.cv-output .output .cv-entry .cv-job-title::after {
  content: " at";
  font-size: 10px;
  color: rgb(45, 48, 48);
  position: relative;
  top: -5px;
}

section.cv-output .output .cv-entry .degree,
section.cv-output .output .cv-entry .cv-job-company {
  font-weight: light;
  color: rgb(105, 96, 96);
}

section.cv-output .output .cv-entry .school,
section.cv-output .output .cv-entry .cv-job-title {
  font-size: 1rem;
  font-weight: 600;
}

/* Toggle / Component Container */
div.component-container .toggle-title {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  border: 2px solid black;
  padding: 10px;
}

div.component-container .toggle-button {
  padding: 3px 10px;
  border-radius: 5px;
  background: none;
  font-size: 15px;

  justify-content: flex-end;
}

div.component-container .toggle-button:hover {
  cursor: pointer;
  background-color: black;
  color: white;
}
