@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}

:root {
  /* font-size: clamp(0.75rem, 0.6676rem + 0.4706vw, 1.25rem); */
}

#root {
  height: 100vh;
  min-width: 1100px;
  max-width: 1500px;
  padding: 10px 20px;
  margin: 0 auto;

  display: grid;
  grid-template-rows: 100px 1fr 25px;
  row-gap: 20px;
}

/* Header Component */
header {
  text-align: center;
}

header h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

header p {
  letter-spacing: 3px;
  line-height: 20px;
}

/* Footer Component */

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
}
