@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}

:root {
  /* font-size: clamp(0.75rem, 0.6676rem + 0.4706vw, 1.25rem); */
}

#root {
  height: 100vh;
  max-width: 1700px;
  padding: 10px 20px;
  margin: 0 auto;

  display: grid;
  grid-template-rows: 150px 1fr 50px;
}

/* Header Component */
header {
  text-align: center;
}

header h1 {
  font-size: 2.5rem;
}

header p {
  letter-spacing: 3px;
  line-height: 20px;
}

header .main-menu {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 150px 150px;
  justify-content: center;
  gap: 2rem;
  margin-top: 10px;
}

header .main-menu button {
  outline: none;
  padding: 8px 5px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: white;
  cursor: pointer;
}

header .main-menu button:hover {
  background-color: black;
  color: white;
}

/* Footer Component */

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
}
